@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --dark__blue: #112B52;
  --soft__blue: #3866AE;
  --white: #fff;
  --stroke: #DBDBDB;
  --icon: rgba(0, 0, 0, 0.25);
  --form__bg: #F2F2F2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

main, section, form{
  display: flex;
  justify-content: center;
  align-items: center;
}

main, section{ height: 100vh; }
main{
  background-image: radial-gradient(circle, #3866ae, #2e5696, #24477e, #1b3968, #112b52);
}

form, .form-box{
  background: var(--form__bg) !important;
  border-radius: 24px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
}

h1, h2{
  font-weight: bold;
  color: var(--dark__blue);
  text-shadow: var(--dark__blue) 2px 2px 5px;
}

i{
  color: var(--icon);
}

.btn-container{

  div > button,
  div > a{
    transition: all .3s ease-in !important;
  }

  div > a{
    font-size: 14px !important;
    color: var(--dark__blue) !important;
  }

  div > a:hover{
    color: var(--soft__blue) !important;
    text-decoration: underline !important;
  }

  button{
    background-color: var(--dark__blue) !important;
  }
  
  button:hover{
    background-color: var(--soft__blue) !important;
  }
}

p{
  color: var(--dark__blue);
  font-size: 10px;
  font-weight: 500;
  margin-top: 5px;
}

.box{
  width: 100% !important;
  background-color: var(--white);
  border: solid var(--stroke);
  border-radius: 8px;
  color: var(--dark__blue);
  font-weight: bold;
}

.info-btn-container{
  div > a{
    transition: all .3s ease-in !important;
  }

  .btn-edit{
    font-size: 14px !important;
    color: var(--dark__blue) !important;
  }

  .btn-edit:hover{
    color: var(--soft__blue) !important;
    text-decoration: underline !important;
  }

  .btn-logout{
    background-color: var(--dark__blue) !important;
  }
  
  .btn-logout:hover{
    background-color: var(--soft__blue) !important;
  }
}

.end-0{
  cursor: pointer;
  color: var(--dark__blue);
}

.form-box{
  width: 522px !important;
}

@media screen and (max-width: 770px) {
  .btn-container, 
  .info-btn-container{
    div{ 
      text-align: center !important; 
    }

    div:nth-child(2){
      margin-top: 8px;
    }
  }

  #lname{
    margin-top: 16px !important;
  }

  #bmonSelect { margin: 16px 0;}
  #newBmonth { margin: 8px 0;}

  .form-box{
    width: 500px !important;
  }
}